## Datasets from HuggingFace

Text Classification - dair-ai/emotion

Question Answering - mlqa.hi.en

Question Generation - squad

Paraphrasing - paws

Translation - code_x_glue_ct_code_to_text

Summarization - samsum

Text Generation - sadFaceEmoji/english-poems

Reasoning - gsm8k

Semantic Similarity - paws

Table To Text - gem

MCQ - qasc

## Installing Dependencies

In [10]:
! pip install datasets transformers accelerate peft

Requirement already satisfied: datasets in c:\users\prabhakar venkat\anaconda3\lib\site-packages (2.20.0)
Requirement already satisfied: transformers in c:\users\prabhakar venkat\anaconda3\lib\site-packages (4.24.0)
Collecting accelerate
  Using cached accelerate-0.32.1-py3-none-any.whl (314 kB)
Collecting peft
  Using cached peft-0.11.1-py3-none-any.whl (251 kB)
Requirement already satisfied: huggingface-hub>=0.21.2 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from datasets) (0.23.4)
Requirement already satisfied: requests>=2.32.2 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from datasets) (2.32.2)
Requirement already satisfied: xxhash in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from datasets) (3.4.1)
Requirement already satisfied: pyyaml>=5.1 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from datasets) (6.0.1)
Requirement already satisfied: fsspec[http]<=2024.5.0,>=2023.1.0 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from datasets) (2024.5.0)
Requirement already satisfied: packaging in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from datasets) (23.2)
Requirement already satisfied: multiprocess in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from datasets) (0.70.16)
Requirement already satisfied: tqdm>=4.66.3 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from datasets) (4.66.4)
Requirement already satisfied: pyarrow>=15.0.0 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from datasets) (16.1.0)
Requirement already satisfied: numpy>=1.17 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from datasets) (1.23.5)
Requirement already satisfied: dill<0.3.9,>=0.3.0 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from datasets) (0.3.8)
Requirement already satisfied: aiohttp in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from datasets) (3.8.2)
Requirement already satisfied: pandas in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from datasets) (2.0.3)
Requirement already satisfied: filelock in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from datasets) (3.15.4)
Requirement already satisfied: pyarrow-hotfix in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from datasets) (0.6)
Requirement already satisfied: regex!=2019.12.17 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from transformers) (2023.12.25)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from transformers) (0.13.3)
Requirement already satisfied: psutil in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from accelerate) (5.9.0)
Collecting safetensors>=0.3.1
  Using cached safetensors-0.4.3-cp310-none-win_amd64.whl (287 kB)
Requirement already satisfied: torch>=1.10.0 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from accelerate) (2.3.0)
Requirement already satisfied: attrs>=17.3.0 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from aiohttp->datasets) (22.1.0)
Requirement already satisfied: multidict<6.0,>=4.5 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from aiohttp->datasets) (5.2.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from aiohttp->datasets) (4.0.3)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from aiohttp->datasets) (1.9.4)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from aiohttp->datasets) (1.3.1)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from aiohttp->datasets) (1.4.1)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from aiohttp->datasets) (2.0.4)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from huggingface-hub>=0.21.2->datasets) (4.12.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from requests>=2.32.2->datasets) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from requests>=2.32.2->datasets) (2024.6.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from requests>=2.32.2->datasets) (1.26.19)
Requirement already satisfied: sympy in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from torch>=1.10.0->accelerate) (1.11.1)
Requirement already satisfied: networkx in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from torch>=1.10.0->accelerate) (2.8.4)
Requirement already satisfied: jinja2 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from torch>=1.10.0->accelerate) (3.1.2)
Collecting mkl<=2021.4.0,>=2021.1.1
  Using cached mkl-2021.4.0-py2.py3-none-win_amd64.whl (228.5 MB)
Requirement already satisfied: colorama in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from tqdm>=4.66.3->datasets) (0.4.6)
Requirement already satisfied: pytz>=2020.1 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from pandas->datasets) (2022.7)
Requirement already satisfied: tzdata>=2022.1 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from pandas->datasets) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from pandas->datasets) (2.8.2)
Collecting tbb==2021.*
  Using cached tbb-2021.13.0-py3-none-win_amd64.whl (286 kB)
Collecting intel-openmp==2021.*
  Using cached intel_openmp-2021.4.0-py2.py3-none-win_amd64.whl (3.5 MB)
Requirement already satisfied: six>=1.5 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->datasets) (1.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from jinja2->torch>=1.10.0->accelerate) (2.1.1)
Requirement already satisfied: mpmath>=0.19 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from sympy->torch>=1.10.0->accelerate) (1.2.1)
Installing collected packages: tbb, intel-openmp, safetensors, mkl, accelerate, peft
  Attempting uninstall: tbb
    Found existing installation: TBB 0.2

WARNING: Ignoring invalid distribution -ygments (c:\users\prabhakar venkat\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ygments (c:\users\prabhakar venkat\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ygments (c:\users\prabhakar venkat\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -ygments (c:\users\prabhakar venkat\anaconda3\lib\site-packages)
ERROR: Cannot uninstall 'TBB'. It is a distutils installed project and thus we cannot accurately determine which files belong to it which would lead to only a partial uninstall.
WARNING: Ignoring invalid distribution -ygments (c:\users\prabhakar venkat\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ygments (c:\users\prabhakar venkat\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ygments (c:\users\prabhakar venkat\anaconda3\lib\site-packages)

### Download datasets and process data

In [11]:
from datasets import load_dataset, Dataset
import pandas as pd

### Text Classification

In [12]:
# dair-ai/emotion - Text Classification

text_classification_data = load_dataset("dair-ai/emotion", "split", split="test")
text_classification_data

Dataset({
    features: ['text', 'label'],
    num_rows: 2000
})

In [13]:
text_classification_df = text_classification_data.to_pandas()
text_classification_df.head()

                                                text  label
0  im feeling rather rotten so im not very ambiti...      0
1          im updating my blog because i feel shitty      0
2  i never make her separate from me because i do...      0
3  i left with my bouquet of red and yellow tulip...      1
4    i was feeling a little vain when i did this one      0

In [14]:
map_emotions = {
    0: "sadness",
    1: "joy",
    2: "love",
    3: "anger",
    4: "fear",
    5: "surprise"
}

text_classification_df["target"] = text_classification_df["label"].apply(lambda x: map_emotions[x])
text_classification_df["source"] = text_classification_df["text"].apply(lambda x: "text-classification-emotion: " + x)

text_classification_df = text_classification_df[["source", "target"]]
text_classification_df

                                                 source   target
0     text-classification-emotion: im feeling rather...  sadness
1     text-classification-emotion: im updating my bl...  sadness
2     text-classification-emotion: i never make her ...  sadness
3     text-classification-emotion: i left with my bo...      joy
4     text-classification-emotion: i was feeling a l...  sadness
...                                                 ...      ...
1995  text-classification-emotion: i just keep feeli...    anger
1996  text-classification-emotion: im feeling a litt...    anger
1997  text-classification-emotion: i feel that i am ...      joy
1998  text-classification-emotion: im feeling more c...      joy
1999  text-classification-emotion: i feel all weird ...     fear

[2000 rows x 2 columns]

In [15]:
text_classification_df = text_classification_df.sample(500)
text_classification_df.head()

                                                 source   target
60    text-classification-emotion: i woke up yesterd...  sadness
1212  text-classification-emotion: i hated that i ha...  sadness
1677  text-classification-emotion: i become someone ...     fear
1523  text-classification-emotion: i remember being ...    anger
859   text-classification-emotion: always when i am ...      joy

## Question Answering

In [19]:
data = load_dataset("mlqa", "mlqa.hi.en", split="validation", trust_remote_code=True)

Downloading data:   0%|          | 0.00/75.7M [00:00<?, ?B/s]

Generating test split:   0%|          | 0/4918 [00:00<?, ? examples/s]

Generating validation split:   0%|          | 0/507 [00:00<?, ? examples/s]

In [20]:
qa_df = data.to_pandas()
qa_df.head()

,context,question,answers,id
0,पैरेनकाइमा कोशिकाएं वे जीवित कोशिकाएं हैं जो स...,What is the name of a type of string that cons...,"{'answer_start': [2267], 'text': ['कोलेन्काइमा']}",60ee75c50c8472be7cce1a24ee2cd7409ee4dd52
1,पैरेनकाइमा कोशिकाएं वे जीवित कोशिकाएं हैं जो स...,What are made up almost entirely of parenchyma...,"{'answer_start': [158], 'text': ['पत्तियां']}",561971f7978f678c3d1ba2a946036cdc131c4d49
2,जाइलेम कोशिकाएं कोशिका भित्तियों की लिग्निकृत ...,What kind of plants possess xylem?,"{'answer_start': [292], 'text': ['ट्रेकियोफाइट...",18a5c05701b7359fcd32a379b2ac4a9a5d7544de
3,फ्लोएम उच्चतर पौधों में आहार का संवहन करने वाल...,What is the leptome?,"{'answer_start': [969], 'text': ['समान कार्य क...",694ce8b90f6854bcd6c3a505767df90f8b659d06
4,"सभी हवाई अवयवों की बाह्यत्वचा, जड़ों को छोड़कर...",Epidermal cells can do what?,"{'answer_start': [433], 'text': ['क्यटिन का सं...",25be1db3766bfbb5f64b3a8f4bf4af57470eb651

In [21]:
qa_df["source"] = qa_df[["context", "question"]].apply(lambda x: "context-question-answering: context: " + x["context"] + " question: " + x["question"], axis=1)
qa_df["target"] = qa_df["answers"].apply(lambda x: x["text"][0])

qa_df = qa_df[["source", "target"]]
qa_df.head(10)

,source,target
0,context-question-answering: context: पैरेनकाइम...,कोलेन्काइमा
1,context-question-answering: context: पैरेनकाइम...,पत्तियां
2,context-question-answering: context: जाइलेम को...,ट्रेकियोफाइटों
3,context-question-answering: context: फ्लोएम उच...,समान कार्य करने वाला एक अधिक सरल ऊतक
4,context-question-answering: context: सभी हवाई ...,क्यटिन का संश्लेषण
5,context-question-answering: context: इनका जन्म...,वर्जीनिया विश्वविद्यालय
6,context-question-answering: context: पो ने फिर...,वर्जीनिया क्लेम
7,context-question-answering: context: पो ने फिर...,द पेन्न
8,context-question-answering: context: बूथ 1871 ...,इंजीनियरिंग
9,context-question-answering: context: सुई द्वार...,"विशेष परिस्थितियों और आपातकालीन स्थितियों में,"

## Question Generation

In [25]:
data1 = load_dataset("squad_v2", split="validation", trust_remote_code=True)
qgen_df = data1.to_pandas()
qgen_df = qgen_df.sample(500)

In [26]:
#qgen_df = qgen_df[:500]
qgen_df

,id,title,context,question,answers
10923,5ad4f63b5b96ef001a10a7c5,Warsaw,"Warsaw, especially its city centre (Śródmieści...",How much of Poland's national income does Srod...,"{'text': [], 'answer_start': []}"
1148,5a2c1397bfd06b001a5ae9cc,Sky_(United_Kingdom),The Daily Mail newspaper reported in 2012 that...,What did the benefits agency think sports chan...,"{'text': [], 'answer_start': []}"
2594,571cd11add7acb1400e4c170,Oxygen,"Oxygen, as a supposed mild euphoric, has a his...",What do professional athletes seek to boost fr...,"{'text': ['performance', 'performance', 'perfo..."
9160,5ad278add7d075001a429572,Rhine,The Upper Rhine region was changed significant...,In which century was the Grand Canal d'Alsace ...,"{'text': [], 'answer_start': []}"
9882,572ff86004bcaa1900d76f68,Islamism,Another major division within Islamism is betw...,What has Islamism been increasingly interdepen...,"{'text': ['democracy', 'democracy', 'democracy..."
...,...,...,...,...,...
143,56de3efccffd8e1900b4b6fe,Normans,The conquest of Cyprus by the Anglo-Norman for...,How long did Western Europe control Cyprus?,"{'text': ['380 years', '380 years', '380 years..."
4753,5a2eccc9a83784001a7d24a0,Black_Death,The plague theory was first significantly chal...,What is Samuel K. Cohn Jr.'s career?,"{'text': [], 'answer_start': []}"
5377,5726f2375951b619008f8312,Pharmacy,Pharmacy informatics is the combination of pha...,What areas are pharmacy informatics prepared t...,{'text': ['medication management system develo...
8415,5ad4f7895b96ef001a10a7f1,Immune_system,An evasion strategy used by several pathogens ...,What is it called when a pathogen spends most ...,"{'text': [], 'answer_start': []}"
9908,5acfe73c77cf76001a6863d6,Islamism,"Islamists have asked the question, ""If Islam i...","What, rather than Islamism, requires no explan...","{'text': [], 'answer_start': []}"

In [27]:
qgen_df["source"] = qgen_df["context"].apply(lambda x: "context-question-generation: " + x)
qgen_df["target"] = qgen_df["question"]

In [28]:
qgen_df = qgen_df[["source", "target"]].head()
qgen_df

,source,target
10923,"context-question-generation: Warsaw, especiall...",How much of Poland's national income does Srod...
1148,context-question-generation: The Daily Mail ne...,What did the benefits agency think sports chan...
2594,"context-question-generation: Oxygen, as a supp...",What do professional athletes seek to boost fr...
9160,context-question-generation: The Upper Rhine r...,In which century was the Grand Canal d'Alsace ...
9882,context-question-generation: Another major div...,What has Islamism been increasingly interdepen...

## Paraphrasing -> Translation

In [29]:
data2 = load_dataset("paws", "labeled_final", split="validation", trust_remote_code=True)
trans_df = data2.to_pandas()
trans_df = trans_df.sample(1000)
trans_df

Downloading readme:   0%|          | 0.00/9.79k [00:00<?, ?B/s]

Downloading data:   0%|          | 0.00/8.43M [00:00<?, ?B/s]

Downloading data:   0%|          | 0.00/1.24M [00:00<?, ?B/s]

Downloading data:   0%|          | 0.00/1.23M [00:00<?, ?B/s]

Generating train split:   0%|          | 0/49401 [00:00<?, ? examples/s]

Generating test split:   0%|          | 0/8000 [00:00<?, ? examples/s]

Generating validation split:   0%|          | 0/8000 [00:00<?, ? examples/s]

,id,sentence1,sentence2,label
4807,4808,Ashte is a village in the Palghar district of ...,Ashte is a village in the Palghar district of ...,1
676,677,Claudia is the female form of Claudia and may ...,Claudia is the female form of Claudius and may...,0
1202,1203,"The film has many elements of a musical , with...","The film has many elements of a musical , with...",0
2387,2388,Spectrum Aeronautical is a business jet develo...,Spectrum Aeronautical is a business jet develo...,0
1329,1330,Alongside Robert White and Joshua Soule Zimmer...,Robert White and Joshua Soule Zimmerman worked...,0
...,...,...,...,...
6260,6261,"Bala stands on a high plain , summers are hot ...","Bala stands on a high and snowy plain , the su...",0
5419,5420,"The first section , from Hokitika to Ruatapu ,...","The first section , from Hokitika to Ruatapu ,...",0
7243,7244,has three daughters : Jennifer Salwender and C...,Haynes ' has three daughters : Sarah Haynes an...,0
3429,3430,The average salary for assistant professors at...,The average salary for assistant professors at...,1
1634,1635,There is also a respiratory disease in ruminan...,"In ruminants , respiratory disease is also pre...",1

In [30]:
trans_df = trans_df[trans_df["label"] == 1]
trans_df = trans_df[["sentence1", "sentence2"]]
trans_df

,sentence1,sentence2
4807,Ashte is a village in the Palghar district of ...,Ashte is a village in the Palghar district of ...
3047,"In 1997 , she appeared as Sheila Dixon in `` C...",Hardwick appeared in `` Coronation Street '' i...
2065,Michael Liebel Sr. was 14 years old when his p...,Michael Michael Liebel Sr. was 14 years old wh...
238,Fishman holds a bachelor 's degree from Columb...,Fishman holds a Bachelor 's degree from Columb...
6923,"In 1291 , Mahaut married the count de Burgundy...","In 1291 , Mahaut married Otto IV , Count of Bu..."
...,...,...
6190,"There is a bus , officially called the Ground ...",There is a bus officially called Ground Force ...
3236,The Continental League was the last serious at...,The Continental League was the last serious at...
4995,"Furthermore , a triple threat match for the Un...",Next was a Triple Threat match for the United ...
3429,The average salary for assistant professors at...,The average salary for assistant professors at...
1634,There is also a respiratory disease in ruminan...,"In ruminants , respiratory disease is also pre..."

In [31]:
trans_df["source"] = trans_df["sentence1"].apply(lambda x: "sentence1-paraphrasing: " + x)
trans_df["target"] = trans_df["sentence2"]
trans_df

,sentence1,sentence2,source,target
4807,Ashte is a village in the Palghar district of ...,Ashte is a village in the Palghar district of ...,sentence1-paraphrasing: Ashte is a village in ...,Ashte is a village in the Palghar district of ...
3047,"In 1997 , she appeared as Sheila Dixon in `` C...",Hardwick appeared in `` Coronation Street '' i...,"sentence1-paraphrasing: In 1997 , she appeared...",Hardwick appeared in `` Coronation Street '' i...
2065,Michael Liebel Sr. was 14 years old when his p...,Michael Michael Liebel Sr. was 14 years old wh...,sentence1-paraphrasing: Michael Liebel Sr. was...,Michael Michael Liebel Sr. was 14 years old wh...
238,Fishman holds a bachelor 's degree from Columb...,Fishman holds a Bachelor 's degree from Columb...,sentence1-paraphrasing: Fishman holds a bachel...,Fishman holds a Bachelor 's degree from Columb...
6923,"In 1291 , Mahaut married the count de Burgundy...","In 1291 , Mahaut married Otto IV , Count of Bu...","sentence1-paraphrasing: In 1291 , Mahaut marri...","In 1291 , Mahaut married Otto IV , Count of Bu..."
...,...,...,...,...
6190,"There is a bus , officially called the Ground ...",There is a bus officially called Ground Force ...,"sentence1-paraphrasing: There is a bus , offic...",There is a bus officially called Ground Force ...
3236,The Continental League was the last serious at...,The Continental League was the last serious at...,sentence1-paraphrasing: The Continental League...,The Continental League was the last serious at...
4995,"Furthermore , a triple threat match for the Un...",Next was a Triple Threat match for the United ...,"sentence1-paraphrasing: Furthermore , a triple...",Next was a Triple Threat match for the United ...
3429,The average salary for assistant professors at...,The average salary for assistant professors at...,sentence1-paraphrasing: The average salary for...,The average salary for assistant professors at...
1634,There is also a respiratory disease in ruminan...,"In ruminants , respiratory disease is also pre...",sentence1-paraphrasing: There is also a respir...,"In ruminants , respiratory disease is also pre..."

In [32]:
trans_df = trans_df[["source", "target"]]
trans_df.head(10)

,source,target
4807,sentence1-paraphrasing: Ashte is a village in ...,Ashte is a village in the Palghar district of ...
3047,"sentence1-paraphrasing: In 1997 , she appeared...",Hardwick appeared in `` Coronation Street '' i...
2065,sentence1-paraphrasing: Michael Liebel Sr. was...,Michael Michael Liebel Sr. was 14 years old wh...
238,sentence1-paraphrasing: Fishman holds a bachel...,Fishman holds a Bachelor 's degree from Columb...
6923,"sentence1-paraphrasing: In 1291 , Mahaut marri...","In 1291 , Mahaut married Otto IV , Count of Bu..."
1646,sentence1-paraphrasing: `` Trust in Me '' is a...,`` Trust in Me '' is written in a song by Jean...
984,sentence1-paraphrasing: Njan Piranna Nattil is...,Njan Piranna Nattil is an Indian Malayalam fil...
2338,sentence1-paraphrasing: A third radio version ...,A third radio version was played by the BBC wi...
4248,sentence1-paraphrasing: Audubon Council was fo...,Audubon Council was formed from the merger bet...
206,sentence1-paraphrasing: In 1974 Lao PDR establ...,"In 1974 , with the support of the United Natio..."

## Summarization

In [33]:
! pip install py7zr

Collecting py7zr
  Downloading py7zr-0.21.1-py3-none-any.whl (67 kB)
     ---------------------------------------- 67.8/67.8 kB 3.8 MB/s eta 0:00:00
Collecting texttable
  Downloading texttable-1.7.0-py2.py3-none-any.whl (10 kB)
Collecting brotli>=1.1.0
  Downloading Brotli-1.1.0-cp310-cp310-win_amd64.whl (357 kB)
     ------------------------------------- 357.3/357.3 kB 11.2 MB/s eta 0:00:00
Requirement already satisfied: psutil in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from py7zr) (5.9.0)
Collecting pyppmd<1.2.0,>=1.1.0
  Downloading pyppmd-1.1.0-cp310-cp310-win_amd64.whl (46 kB)
     ---------------------------------------- 46.1/46.1 kB ? eta 0:00:00
Collecting inflate64<1.1.0,>=1.0.0
  Downloading inflate64-1.0.0-cp310-cp310-win_amd64.whl (35 kB)
Collecting pycryptodomex>=3.16.0
  Downloading pycryptodomex-3.20.0-cp35-abi3-win_amd64.whl (1.8 MB)
     ---------------------------------------- 1.8/1.8 MB 6.2 MB/s eta 0:00:00
Collecting pybcj<1.1.0,>=1.0.0
  Downloading pybcj-1.0.2-cp310-cp310-win_amd64.whl (24 kB)
Collecting pyzstd>=0.15.9
  Downloading pyzstd-0.16.0-cp310-cp310-win_amd64.whl (245 kB)
     ------------------------------------- 245.6/245.6 kB 15.7 MB/s eta 0:00:00
Collecting multivolumefile>=0.2.3
  Downloading multivolumefile-0.2.3-py3-none-any.whl (17 kB)
Installing collected packages: texttable, brotli, pyzstd, pyppmd, pycryptodomex, pybcj, multivolumefile, inflate64, py7zr
Successfully installed brotli-1.1.0 inflate64-1.0.0 multivolumefile-0.2.3 py7zr-0.21.1 pybcj-1.0.2 pycryptodomex-3.20.0 pyppmd-1.1.0 pyzstd-0.16.0 texttable-1.7.0

WARNING: Ignoring invalid distribution -ygments (c:\users\prabhakar venkat\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ygments (c:\users\prabhakar venkat\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ygments (c:\users\prabhakar venkat\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ygments (c:\users\prabhakar venkat\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ygments (c:\users\prabhakar venkat\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ygments (c:\users\prabhakar venkat\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ygments (c:\users\prabhakar venkat\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ygments (c:\users\prabhakar venkat\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ygments (c:\users\prabhakar venkat\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ygments (c:\users\prabhakar venkat\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ygments (c:\users\prabhakar venkat\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ygments (c:\users\prabhakar venkat\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ygments (c:\users\prabhakar venkat\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ygments (c:\users\prabhakar venkat\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ygments (c:\users\prabhakar venkat\anaconda3\lib\site-packages)

In [34]:
data3 = load_dataset("samsum", split="test", trust_remote_code=True)
sum_df = data3.to_pandas()
sum_df = sum_df[:500]
sum_df

Downloading builder script:   0%|          | 0.00/3.36k [00:00<?, ?B/s]

Downloading readme:   0%|          | 0.00/7.04k [00:00<?, ?B/s]

Downloading data:   0%|          | 0.00/2.94M [00:00<?, ?B/s]

Generating train split:   0%|          | 0/14732 [00:00<?, ? examples/s]

Generating test split:   0%|          | 0/819 [00:00<?, ? examples/s]

Generating validation split:   0%|          | 0/818 [00:00<?, ? examples/s]

,id,dialogue,summary
0,13862856,"Hannah: Hey, do you have Betty's number?\nAman...",Hannah needs Betty's number but Amanda doesn't...
1,13729565,Eric: MACHINE!\r\nRob: That's so gr8!\r\nEric:...,Eric and Rob are going to watch a stand-up on ...
2,13680171,"Lenny: Babe, can you help me with something?\r...",Lenny can't decide which trousers to buy. Bob ...
3,13729438,"Will: hey babe, what do you want for dinner to...",Emma will be home soon and she will let Will k...
4,13828600,"Ollie: Hi , are you in Warsaw\r\nJane: yes, ju...",Jane is in Warsaw. Ollie and Jane has a party....
...,...,...,...
495,13828505,"Amber: Hi Erin, guess what, John and Annie are...",John and Annie are moving to London because he...
496,13716957,Vicky: Is everyone still at town sq? I might h...,"They are meeting at Fratellis, upstairs."
497,13829569,Kaylin: <file_gif> \r\nKaylin: that's what app...,Kaylin has set her alarm for tomorrow.
498,13729275,Keira: How come it started with wildangel3 the...,Keira wonders why wildangel plays in the wrong...
499,13829296,"Natacha: hi, i can come and pick you up at the...",Charles has just landed and he will be at RER ...

In [35]:
sum_df["source"] = sum_df["dialogue"].apply(lambda x: "conversation-summarization: " + x)
sum_df["target"] = sum_df["summary"]
sum_df = sum_df[["source", "target"]]
sum_df.head(10)

,source,target
0,"conversation-summarization: Hannah: Hey, do yo...",Hannah needs Betty's number but Amanda doesn't...
1,conversation-summarization: Eric: MACHINE!\r\n...,Eric and Rob are going to watch a stand-up on ...
2,"conversation-summarization: Lenny: Babe, can y...",Lenny can't decide which trousers to buy. Bob ...
3,"conversation-summarization: Will: hey babe, wh...",Emma will be home soon and she will let Will k...
4,"conversation-summarization: Ollie: Hi , are yo...",Jane is in Warsaw. Ollie and Jane has a party....
5,conversation-summarization: Benjamin: Hey guys...,Hilary has the keys to the apartment. Benjamin...
6,conversation-summarization: Max: Know any good...,Payton provides Max with websites selling clot...
7,conversation-summarization: Rita: I'm so blood...,Rita and Tina are bored at work and have still...
8,conversation-summarization: Beatrice: I am in ...,"Beatrice wants to buy Leo a scarf, but he does..."
9,conversation-summarization: Ivan: hey eric\r\n...,Eric doesn't know if his parents let him go to...

## NLI

In [39]:
data4 = load_dataset("paws", "labeled_final", split="test")
nli_df = data4.to_pandas()
nli_df = nli_df.sample(500)

nli_df

,id,sentence1,sentence2,label
6367,6368,For multiple symmetry with discrete symmetry a...,There are the following possibilities for mult...,1
6413,6414,"Rechter was married to Paula Singer , with who...","On the right was married to Paula Singer , wit...",0
148,149,"The 2012 season of the Esiliiga , the second l...","The 2012 Esiliiga season , the third stage in ...",0
2336,2337,The son of Charles Gordon was the soldier and ...,John Gordon 's son was the soldier and deputy ...,0
145,146,Peterson wore # 52 on his uniform during his r...,Peterson wore at his uniform during his rookie...,1
...,...,...,...,...
2889,2890,"Farrer was born in London , the younger brothe...","Thomas Charles Farrer was born in London , the...",0
2344,2345,The schism was not repaired until the late 6th...,The schism was not repaired until the late 7th...,0
1127,1128,"The Charlotte Copperheads , the indoor lacross...","Charlotte Copperheads , the other lacrosse tea...",0
5608,5609,Pedro Luís Neves is a classical composer of Po...,Luís Neves is a Portuguese modern composer of ...,0
7574,7575,Its natural habitats are subtropical or tropic...,Its natural habitats are subtropical or tropic...,1

In [41]:
nli_df["source"] = nli_df[["sentence1", "sentence2"]].apply(lambda x: "nli-hypothesis-check: sentence1: " + x["sentence1"] + " sentence2: " + x["sentence2"], axis=1)
nli_df

,id,sentence1,sentence2,label,source
6367,6368,For multiple symmetry with discrete symmetry a...,There are the following possibilities for mult...,1,nli-hypothesis-check: sentence1: For multiple ...
6413,6414,"Rechter was married to Paula Singer , with who...","On the right was married to Paula Singer , wit...",0,nli-hypothesis-check: sentence1: Rechter was m...
148,149,"The 2012 season of the Esiliiga , the second l...","The 2012 Esiliiga season , the third stage in ...",0,nli-hypothesis-check: sentence1: The 2012 seas...
2336,2337,The son of Charles Gordon was the soldier and ...,John Gordon 's son was the soldier and deputy ...,0,nli-hypothesis-check: sentence1: The son of Ch...
145,146,Peterson wore # 52 on his uniform during his r...,Peterson wore at his uniform during his rookie...,1,nli-hypothesis-check: sentence1: Peterson wore...
...,...,...,...,...,...
2889,2890,"Farrer was born in London , the younger brothe...","Thomas Charles Farrer was born in London , the...",0,nli-hypothesis-check: sentence1: Farrer was bo...
2344,2345,The schism was not repaired until the late 6th...,The schism was not repaired until the late 7th...,0,nli-hypothesis-check: sentence1: The schism wa...
1127,1128,"The Charlotte Copperheads , the indoor lacross...","Charlotte Copperheads , the other lacrosse tea...",0,nli-hypothesis-check: sentence1: The Charlotte...
5608,5609,Pedro Luís Neves is a classical composer of Po...,Luís Neves is a Portuguese modern composer of ...,0,nli-hypothesis-check: sentence1: Pedro Luís Ne...
7574,7575,Its natural habitats are subtropical or tropic...,Its natural habitats are subtropical or tropic...,1,nli-hypothesis-check: sentence1: Its natural h...

In [42]:
hypo_dict = {
    0: "contradiction",
    1: "entailment"
}

nli_df["target"] = nli_df["label"].apply(lambda x: hypo_dict[x])
nli_df = nli_df[["source", "target"]]
nli_df.head(10)

                                                 source         target
6367  nli-hypothesis-check: sentence1: For multiple ...     entailment
6413  nli-hypothesis-check: sentence1: Rechter was m...  contradiction
148   nli-hypothesis-check: sentence1: The 2012 seas...  contradiction
2336  nli-hypothesis-check: sentence1: The son of Ch...  contradiction
145   nli-hypothesis-check: sentence1: Peterson wore...     entailment
7258  nli-hypothesis-check: sentence1: 16.2 % were F...     entailment
5457  nli-hypothesis-check: sentence1: It has an oct...  contradiction
1700  nli-hypothesis-check: sentence1: His views abo...  contradiction
6463  nli-hypothesis-check: sentence1: The Super Kin...     entailment
2833  nli-hypothesis-check: sentence1: The band reco...     entailment

# Final Data

In [44]:
list_of_dfs = [text_classification_df, qa_df, qgen_df, trans_df, sum_df, nli_df]
final_df = pd.concat(list_of_dfs, axis=0)
final_df

                                                 source         target
60    text-classification-emotion: i woke up yesterd...        sadness
1212  text-classification-emotion: i hated that i ha...        sadness
1677  text-classification-emotion: i become someone ...           fear
1523  text-classification-emotion: i remember being ...          anger
859   text-classification-emotion: always when i am ...            joy
...                                                 ...            ...
2889  nli-hypothesis-check: sentence1: Farrer was bo...  contradiction
2344  nli-hypothesis-check: sentence1: The schism wa...  contradiction
1127  nli-hypothesis-check: sentence1: The Charlotte...  contradiction
5608  nli-hypothesis-check: sentence1: Pedro Luís Ne...  contradiction
7574  nli-hypothesis-check: sentence1: Its natural h...     entailment

[2463 rows x 2 columns]